.link {
    text-decoration: none;
    text-align: center;
    color: #000;
}

.link:hover .image {
    transform: scale(1.03);
}

.image {
    min-width: 100%;
    max-width: 100%;
    aspect-ratio: 211/316;
    object-fit: cover;
    transition: 0.3s ease;
}